@font-face {
  font-family: "Quicksand";
  src: url("/public/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  src: url("/public/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}
@keyframes navbar-open {
  from {
    height: 0lvh;
  }
  to {
    height: 100lvh;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  background-color: #1d1b16;
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Rubik";
  color: #e8e2d9;
}

.button {
  padding: 1.2rem 1.6rem;
  background-color: #544600;
  color: #ffe16f;
  text-decoration: none;
  font-size: 16px;
  border-radius: 99rem;
  text-align: center;
  width: 100%;
  max-width: 13rem;
  font-weight: 400;
}

.button-outline {
  padding: 1.2rem 1.6rem;
  background-color: transparent;
  border: 1px solid #979080;
  color: #e8e2d9;
  text-decoration: none;
  font-size: 16px;
  border-radius: 99rem;
  text-align: center;
  max-width: 13rem;
}
@media (min-width: 905px) {
  .button-outline {
    font-size: 24px;
  }
}

.button-mission {
  background-color: #FFE170;
  color: #221B00;
  min-width: clamp(20rem, 100%, 40rem);
  font-weight: 400;
  align-self: center;
  font-size: 16px;
  margin-top: 1.6rem;
}
@media (min-width: 905px) {
  .button-mission {
    align-self: flex-start;
  }
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.post-wrapper .post-img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 3rem;
}
.post-wrapper .post-container {
  padding: 1.6rem;
  color: #c6eccd;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.post-wrapper .post-container .post-title {
  font-size: 20px;
  font-weight: 700;
}
.post-wrapper .post-container .post-paragraph {
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
}
.post-wrapper .post-footer {
  display: flex;
  padding: 0.6rem 1.6rem 1.6rem 1.6rem;
  justify-content: space-between;
  color: #c6eccd;
  border-top: 1px solid #c6eccd;
}

.container-header {
  margin-right: 1.6rem;
  background-color: #d2c6a1;
  border-radius: 0 2rem 2rem 0;
  padding: 3.6rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}
@media (min-width: 600px) {
  .container-header {
    margin-right: 3.6rem;
    padding-left: 3.6rem;
    background-image: url(/public/svg/background-tree.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
}
@media (min-width: 905px) {
  .container-header {
    margin-right: 5rem;
    padding-left: 5rem;
  }
}
@media (min-width: 1240px) {
  .container-header {
    margin-right: 20rem;
    padding-left: 20rem;
  }
}
@media (min-width: 1440px) {
  .container-header {
    margin-right: 30rem;
    padding-left: 30rem;
  }
}
.container-header .info-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  color: #373016;
  max-width: 30rem;
}
@media (min-width: 600px) {
  .container-header .info-header {
    max-width: 35rem;
  }
}
@media (min-width: 905px) {
  .container-header .info-header {
    max-width: 50rem;
  }
}
.container-header .info-header .title-header {
  font-family: "Quicksand";
  font-size: 48px;
  font-weight: 400;
  line-height: 1.15;
  border-right: 1px solid #373016;
  padding-right: 2.4rem;
  width: 100%;
}
@media (min-width: 600px) {
  .container-header .info-header .title-header {
    font-size: 64px;
    line-height: 1;
  }
}
@media (min-width: 1240px) {
  .container-header .info-header .title-header {
    font-size: 96px;
  }
}
.container-header .info-header .info-right {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.container-header .info-header .info-right .paragraph-header {
  font-size: 20px;
  line-height: 1.15;
  align-self: flex-start;
}
@media (min-width: 600px) {
  .container-header .info-header .info-right .paragraph-header {
    font-size: 22px;
  }
}
@media (min-width: 1240px) {
  .container-header .info-header .info-right .paragraph-header {
    font-size: 32px;
  }
}

.carousel-main-container .nav-carousel {
  display: flex;
  justify-content: space-between;
  margin: 1.6rem;
  align-items: center;
}
@media (min-width: 600px) {
  .carousel-main-container .nav-carousel {
    margin-inline: 3.6rem;
  }
}
@media (min-width: 905px) {
  .carousel-main-container .nav-carousel {
    margin-inline: 5rem;
  }
}
@media (min-width: 1240px) {
  .carousel-main-container .nav-carousel {
    margin-inline: 20rem;
  }
}
@media (min-width: 1440px) {
  .carousel-main-container .nav-carousel {
    margin-inline: 30rem;
  }
}
.carousel-main-container .nav-carousel .title-carousel {
  font-size: 20px;
  font-family: "Quicksand";
  font-weight: 700;
}
@media (min-width: 905px) {
  .carousel-main-container .nav-carousel .title-carousel {
    font-size: 32px;
  }
}
.carousel-main-container .carousel-wrapper {
  margin: 1rem;
  margin-left: 1.6rem;
  margin-right: 0;
  position: relative;
  overflow: hidden;
}
@media (min-width: 600px) {
  .carousel-main-container .carousel-wrapper {
    margin-left: 3.6rem;
  }
}
@media (min-width: 905px) {
  .carousel-main-container .carousel-wrapper {
    margin-left: 5rem;
  }
}
@media (min-width: 1240px) {
  .carousel-main-container .carousel-wrapper {
    margin-left: 20rem;
  }
}
@media (min-width: 1440px) {
  .carousel-main-container .carousel-wrapper {
    margin-left: 30rem;
  }
}
.carousel-main-container .carousel-wrapper .carousel-container {
  height: 43rem;
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  scroll-behavior: smooth;
  gap: 1.6rem;
}
.carousel-main-container .carousel-wrapper .carousel-container::-webkit-scrollbar {
  display: none;
}
.carousel-main-container .carousel-wrapper .carousel-container .carousel {
  max-width: 30rem;
  height: 100%;
  flex: 1 0 100%;
  border-radius: 3rem;
  background-color: #2d4e37;
}

.mission-wrapper {
  display: flex;
  flex-direction: column;
  margin-inline: 1.6rem;
}
@media (min-width: 600px) {
  .mission-wrapper {
    margin-inline: 3.6rem;
  }
}
@media (min-width: 905px) {
  .mission-wrapper {
    margin-inline: 5rem;
    flex-direction: row;
  }
}
@media (min-width: 1240px) {
  .mission-wrapper {
    margin-inline: 20rem;
  }
}
@media (min-width: 1440px) {
  .mission-wrapper {
    margin-inline: 30rem;
  }
}
.mission-wrapper .mission-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 3.6rem;
}
.mission-wrapper .mission-container .mission-title {
  font-size: 48px;
  font-family: "Quicksand";
  font-weight: 400;
  line-height: 1;
  padding-bottom: 0.8rem;
  width: 100%;
}
@media (min-width: 600px) {
  .mission-wrapper .mission-container .mission-title {
    font-size: 64px;
    line-height: 1;
  }
}
.mission-wrapper .mission-container .mission-paragraph {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
}
@media (min-width: 600px) {
  .mission-wrapper .mission-container .mission-paragraph {
    font-size: 22px;
  }
}
.mission-wrapper .mission-container:nth-child(1) {
  background-color: #d2c6a1;
  border-radius: 2rem 2rem 0 0;
  color: #373016;
  width: 100%;
}
@media (min-width: 905px) {
  .mission-wrapper .mission-container:nth-child(1) {
    border-radius: 2rem 0 0 2rem;
  }
}
.mission-wrapper .mission-container:nth-child(2) {
  background-color: #4e462a;
  border-radius: 0 0 2rem 2rem;
  color: #efe2bc;
  width: 100%;
}
@media (min-width: 905px) {
  .mission-wrapper .mission-container:nth-child(2) {
    border-radius: 0 2rem 2rem 0;
  }
}

.search-header {
  display: flex;
  margin-inline: 1.6rem;
  justify-content: center;
  align-items: flex-end;
  height: 20rem;
  border-radius: 3rem;
  background-color: #e8e2d9;
  background-image: url(/public/images/header-img.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 3rem;
}
@media (min-width: 600px) {
  .search-header {
    margin-inline: 3.6rem;
  }
}
@media (min-width: 905px) {
  .search-header {
    margin-inline: 5rem;
    height: 30rem;
    padding-bottom: 6rem;
  }
}
@media (min-width: 1240px) {
  .search-header {
    margin-inline: 20rem;
  }
}
@media (min-width: 1440px) {
  .search-header {
    margin-inline: 30rem;
  }
}
.search-header input {
  border: none;
  outline: none;
  border-radius: 1.5rem;
  height: 4.5rem;
  width: 20rem;
  background-color: #e8e2d9;
  display: flex;
  text-align: center;
  font-size: 16px;
  color: #4b4639;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}
.search-header input::placeholder {
  color: #4b4639;
  font-size: 16px;
  text-align: center;
}
.search-header input:focus {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
}
.search-header input:focus::placeholder {
  color: transparent;
}
@media (min-width: 905px) {
  .search-header input {
    width: 30rem;
    height: 5rem;
    font-size: 20px;
  }
  .search-header input::placeholder {
    font-size: 20px;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  margin-top: 1.6rem;
}

.navbar-container {
  display: flex;
  background-color: #1d1b16;
  padding: 1.6rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar-container .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbar-container .navbar #navbar-menu {
  z-index: 99;
}
.navbar-container .navbar .rotate {
  transform: rotate(-90deg);
  transition: 400ms ease-out;
}
.navbar-container .navbar .rotate svg > path {
  transition: 400ms ease;
  fill: #e8c41c;
}
.navbar-container .navbar #navbar-logo {
  z-index: 99;
}
.navbar-container .navbar .navbar-links {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 98;
  background-color: #1d1b16;
}
.navbar-container .navbar .navbar-links[isopen=true] {
  display: flex;
  animation: navbar-open 400ms ease-out;
  height: 100lvh;
}
.navbar-container .navbar .navbar-links a {
  color: #e8e2d9;
  text-decoration: none;
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 3.6rem;
  opacity: 1;
  animation: fade-in 400ms ease-in;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
}
.footer-wrapper .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.footer-wrapper .footer-container .footer-logo {
  transform: scale(1.5);
}
.footer-wrapper .footer-container .footer-title {
  font-size: 32px;
  font-family: "Quicksand";
  font-weight: 400;
}
.footer-wrapper .footer-container .footer-paragraph {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: -1.6rem;
}

/*# sourceMappingURL=main.css.map */
