@use "../abstracts/" as a;

.button {
    padding: 1.2rem 1.6rem;
    background-color: a.$md-sys-color-primary-container-dark;
    color: a.$md-sys-color-on-primary-container-dark;
    text-decoration: none;
    font-size: 16px;
    border-radius: 99rem;
    text-align: center;
    width: 100%;
    max-width: 13rem;
    font-weight: 400;
    transition: all 200ms ease-out;
}

.button-outline {
    padding: 1.2rem 1.6rem;
    background-color: transparent;
    border: 1px solid a.$md-sys-color-outline-dark;
    color: a.$md-sys-color-on-background-dark;
    text-decoration: none;
    font-size: 16px;
    border-radius: 99rem;
    text-align: center;
    max-width: 13rem;
    transition: all 200ms ease-out;

    @include a.respond-to('medium') {
        font-size: 24px;
    }
}

.button-mission {
    background-color: a.$md-sys-color-primary-fixed;
    color: a.$md-sys-color-on-primary-fixed;
    min-width: clamp(20rem, 100%, 40rem);
    font-weight: 400;
    align-self: center;
    font-size: 16px;
    margin-top: 1.6rem;

    @include a.respond-to('medium') {
        align-self: flex-start;
    }
}