@use "../abstracts/" as a;

.carousel-main-container {
    .nav-carousel {
        display: flex;
        justify-content: space-between;
        margin: a.$md-sys-margin-default;
        align-items: center;

        @include a.respond-to('small') {
            margin-inline: a.$md-sys-margin-small;
        }
    
        @include a.respond-to('medium') {
            margin-inline: a.$md-sys-margin-medium;
        }
    
        @include a.respond-to('large') {
            margin-inline: a.$md-sys-margin-large;
        }
    
        @include a.respond-to('x-large') {
            margin-inline: a.$md-sys-margin-x-large;
        }

        .title-carousel {
            font-size: 20px;
            font-family: a.$md-sys-font-quicksand;
            font-weight: 700;

            @include a.respond-to('medium') {
                font-size: 32px;
            }
        }
    }

    .carousel-footer {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        justify-content: flex-end;
        margin-inline: a.$md-sys-margin-default;
        gap: 0.4rem;

        @include a.respond-to('small') {
            margin-inline: a.$md-sys-margin-small;
        }
    
        @include a.respond-to('medium') {
            margin-inline: a.$md-sys-margin-medium;
        }
    
        @include a.respond-to('large') {
            margin-inline: a.$md-sys-margin-large;
        }
    
        @include a.respond-to('x-large') {
            margin-inline: a.$md-sys-margin-x-large;
        }

        .carousel-progress {
            height: 1rem;
            width: 15rem;
            background-color: a.$md-sys-color-surface-variant-dark;
            border-radius: a.$md-sys-radius-defalt;
    
            .progress-fill {
                height: 100%;
                width: 0;
                max-width: 100%;
                background-color: a.$md-sys-color-on-surface-variant-dark;
                border-radius: a.$md-sys-radius-defalt;
                transition: width 200ms ease-out;
            }
        }

        .scroll-buttons {
            fill: a.$md-sys-color-on-background-dark;
            transition: opacity 200ms ease;
        }

        #scroll-button-left {
            transform: rotate(180deg);
            opacity: 0;
        }
    }

    .carousel-wrapper {
        margin-left: a.$md-sys-margin-default;
        margin-right: 0;
        position: relative;
        overflow: hidden;

        @include a.respond-to('small') {
            margin-left: a.$md-sys-margin-small;
        }
    
        @include a.respond-to('medium') {
            margin-left: a.$md-sys-margin-medium;
        }
    
        @include a.respond-to('large') {
            margin-left: a.$md-sys-margin-large;
        }
    
        @include a.respond-to('x-large') {
            margin-left: a.$md-sys-margin-x-large;
        }

        .carousel-container {
            height: 44rem;
            width: 100%;
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            overflow: scroll;
            scroll-behavior: smooth;
            gap: 1.6rem;

            &::-webkit-scrollbar {
                display: none;
            }

            .carousel {
                max-width: 30rem;
                height: 100%;
                flex: 1 0 100%;
                border-radius: a.$md-sys-radius-defalt;
                background-color: a.$md-sys-color-tertiary-container-dark;
            }
        }
    }
}