@use "../abstracts/" as a;

.container-header {
    margin-right: a.$md-sys-margin-default;
    background-color: a.$md-sys-color-secondary-dark;
    border-radius: 0 2rem 2rem 0;
    padding: a.$md-sys-padding-large;
    display: flex;
    align-items: center;
    overflow: hidden;

    @include a.respond-to('small') {
        margin-right: a.$md-sys-margin-small;
        padding-left: a.$md-sys-margin-small;
        background-image: url(/public/svg/background-tree.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    @include a.respond-to('medium') {
        margin-right: a.$md-sys-margin-medium;
        padding-left: a.$md-sys-margin-medium;
    }

    @include a.respond-to('large') {
        margin-right: a.$md-sys-margin-large;
        padding-left: a.$md-sys-margin-large;
    }

    @include a.respond-to('x-large') {
        margin-right: a.$md-sys-margin-x-large;
        padding-left: a.$md-sys-margin-x-large;
    }

    .info-header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: a.$md-sys-gap-default;
        color: a.$md-sys-color-on-secondary-dark;
        max-width: 30rem;

        @include a.respond-to('small') {
            max-width: 35rem;
        }

        @include a.respond-to('medium') {
            max-width: 50rem;
        }
    
        .title-header {
            font-family: a.$md-sys-font-quicksand;
            font-size: 48px;
            font-weight: 400;
            line-height: 1.15;
            border-right: 1px solid a.$md-sys-color-on-secondary-dark;
            padding-right: 2.4rem;
            width: 100%;

            @include a.respond-to('small') {
                font-size: 64px;
                line-height: 1;
            }

            @include a.respond-to('large') {
                font-size: 96px;
            }
        }
    
        .info-right {
            display: flex;
            flex-direction: column;
            gap: a.$md-sys-gap-small;
    
            .paragraph-header {
                font-size: a.$md-sys-font-size-default;
                line-height: 1.15;
                align-self: flex-start;

                @include a.respond-to('small') {
                    font-size: 22px;
                }

                @include a.respond-to('large') {
                    font-size: 32px;
                }
            }

            .button {
                &:is(:hover) {
                    background-color: adjust-color($color: a.$md-sys-color-primary-container-dark, $hue: 0, $saturation: 0%, $lightness: 2.5%, $alpha: 1.0);
                    box-shadow: a.$md-sys-shadow-0;
                }
            
                &:is(:focus, :focus-visible) {
                    background-color: adjust-color($color: a.$md-sys-color-primary-container-dark, $hue: 0, $saturation: 0%, $lightness: 5%, $alpha: 1.0);
                    box-shadow: a.$md-sys-shadow-1;
                }
            }
        }
    
    }
}
