@use "../abstracts/" as a;

.search-header {
    display: flex;
    margin-inline: a.$md-sys-margin-default;
    justify-content: center;
    align-items: flex-end;
    height: 20rem;
    border-radius: a.$md-sys-radius-defalt;
    background-color: a.$md-sys-color-on-background-dark;
    background-image: url(/public/images/header-img.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;

    @include a.respond-to('small') {
        margin-inline: a.$md-sys-margin-small;
    }

    @include a.respond-to('medium') {
        margin-inline: a.$md-sys-margin-medium;
        height: 30rem;
        padding-bottom: 6rem;
    }

    @include a.respond-to('large') {
        margin-inline: a.$md-sys-margin-large;
    }

    @include a.respond-to('x-large') {
        margin-inline: a.$md-sys-margin-x-large;
    }

    input {
        border: none;
        outline: none;
        border-radius: 2rem;
        height: 4.5rem;
        width: 20rem;
        background-color: a.$md-sys-color-on-background-dark;
        display: flex;
        text-align: center;
        font-size: 16px;
        color: a.$md-sys-color-surface-variant-dark;
        box-shadow: a.$md-sys-shadow-0;

        &::placeholder {
            color: a.$md-sys-color-surface-variant-dark;
            font-size: 16px;
            text-align: center;
        }

        &:focus {
            box-shadow: a.$md-sys-shadow-1;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }
}