@use "../abstracts/" as a;

.search-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20rem;
    border-radius: a.$md-sys-radius-defalt;
    background-color: a.$md-sys-color-on-background-dark;
    background-image: url(/public/images/header-img.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;
    flex-direction: column;
    align-self: center;
    width: calc(100% - 2 * a.$md-sys-margin-default);
    max-width: 824px;

    @include a.respond-to('small') {
        width: calc(100% - 2 * a.$md-sys-margin-small);
    }

    @include a.respond-to('medium') {
        width: calc(100% - 2 * a.$md-sys-margin-medium);
        height: 30rem;
        padding-bottom: 6rem;
    }

    @include a.respond-to('large') {
        width: calc(100% - 2 * a.$md-sys-margin-large);
    }

    @include a.respond-to('x-large') {
        width: calc(100% - 2 * a.$md-sys-margin-x-large);
    }

    input {
        border: none;
        outline: none;
        border-radius: 1.5rem;
        height: 4.5rem;
        width: 20rem;
        background-color: a.$md-sys-color-on-background-dark;
        display: flex;
        text-align: center;
        font-size: 16px;
        color: a.$md-sys-color-surface-variant-dark;
        box-shadow: a.$md-sys-shadow-0;
        transition: width 200ms ease;

        &::placeholder {
            color: a.$md-sys-color-surface-variant-dark;
            font-size: 16px;
            text-align: center;
        }

        &:focus {
            box-shadow: a.$md-sys-shadow-1;
            width: calc(20rem + 2.5rem);
            transition: width 200ms ease;
        }

        &:focus::placeholder {
            color: transparent;
        }

        @include a.respond-to('medium') {
            width: 30rem;
            height: 5rem;
            font-size: 20px;

            &::placeholder {
                font-size: 20px;
            }

            &:focus {
                width: calc(30rem + 2.5rem);
                transition: width 200ms ease;
            }
        }
    }
}

.search-results {
    padding: 1.6rem;
    flex-direction: column;
    gap: 0.8rem;
    display: none;
    position: fixed;
    background-color: a.$md-sys-color-background-dark;
    border-radius: a.$md-sys-radius-defalt;
    z-index: 2;
    overflow-y: scroll;
    max-height: 25vh;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    scrollbar-width: none;
    align-self: center;
    width: calc(100% - 2 * a.$md-sys-margin-default);
    max-width: 440px;
    box-shadow: a.$md-sys-shadow-0;
    top: 280px;

    @include a.respond-to('medium') {
        top: 350px;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    @include a.respond-to('small') {
        margin-inline: a.$md-sys-margin-small;
    }

    @include a.respond-to('medium') {
        margin-inline: a.$md-sys-margin-medium;
    }

    @include a.respond-to('large') {
        margin-inline: a.$md-sys-margin-large;
    }

    @include a.respond-to('x-large') {
        margin-inline: a.$md-sys-margin-x-large;
    }

    .search-result {
        list-style: none;
        background-color: a.$md-sys-color-tertiary-container-dark;
        border-radius: a.$md-sys-radius-small;
        margin: 0 auto;
        max-width: 340px;
        width: 100%;

        a {
            text-decoration: none;
        }

        .search-wrapper {
            display: flex;
            gap: 1.6rem;
            color: a.$md-sys-color-on-tertiary-container-dark;
            align-items: center;
            justify-content: space-between;

            .search-img {
                aspect-ratio: 1/1;
                object-fit: cover;
                width: 6.4rem;
                border-radius: 0.8rem;
            }

            .search-info {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                padding-right: 1.6rem;
                width: 100%;

                .search-title {
                    font-size: 1.6rem;
                    font-weight: 700;
                }
    
                .search-paragraph {
                    font-size: 1.4rem;
                    font-weight: 400;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .search-button {
                border: none;
                height: 6.5rem;
                background-color: a.$md-sys-color-on-tertiary-container-dark;
                color: a.$md-sys-color-tertiary-container-dark;
                font-size: 1.6rem;
                border-radius: 0 0.8rem 0.8rem 0;
                padding: 0 1.6rem;
                cursor: pointer;
                transition: all 200ms ease;

                &:is(:hover) {
                    background-color: a.$md-sys-color-primary-dark;
                    color: a.$md-sys-color-on-primary-dark;
                }
            }
        }
    }
}

.show {
    display: flex;
}