@use "../abstracts/" as a;

.about-container {
    display: flex;
    flex-direction: column;
    margin-inline: a.$md-sys-margin-default;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 88px);

    @include a.respond-to('small') {
        margin-inline: a.$md-sys-margin-small;
    }

    @include a.respond-to('medium') {
        margin-inline: a.$md-sys-margin-medium;
    }

    @include a.respond-to('large') {
        margin-inline: a.$md-sys-margin-large;
    }

    @include a.respond-to('x-large') {
        margin-inline: a.$md-sys-margin-x-large;
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        padding: 2.4rem;
        max-width: 524px;

        &:nth-child(1) {
            background-color: a.$md-sys-color-secondary-container-dark;
            color: a.$md-sys-color-on-secondary-container-dark;
            border-radius: a.$md-sys-radius-defalt a.$md-sys-radius-defalt 0 0;
            margin-top: a.$md-sys-margin-default;

            h1 {
                font-size: 3.2rem;
                font-weight: 700;
            }

            p {
                font-size: 2rem;
                font-weight: 400;
            }
        }

        &:nth-child(2) {
            background-color: a.$md-sys-color-secondary-dark;
            color: a.$md-sys-color-on-secondary-dark;
            border-radius: 0 0 a.$md-sys-radius-defalt a.$md-sys-radius-defalt;

            h2 {
                font-size: 3.2rem;
                font-family: a.$md-sys-font-quicksand;
                font-weight: 400;
            }

            p {
                font-size: 2rem;
                font-weight: 400;
            }
        }
    }
}