@use "../abstracts/" as a;

.animal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: a.$md-sys-margin-default;

    @include a.respond-to('small') {
        margin-inline: a.$md-sys-margin-small;
        margin-top: 2.4rem;
    }

    @include a.respond-to('medium') {
        margin-inline: a.$md-sys-margin-medium;
    }

    @include a.respond-to('large') {
        margin-inline: a.$md-sys-margin-large;
        margin-top: 3.6rem;
    }

    @include a.respond-to('x-large') {
        margin-inline: a.$md-sys-margin-x-large;
    }

    .animal-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 2.4rem;
        max-width: 100%;

        .back-button {
            background-color: a.$md-sys-color-surface-variant-dark;
            color: a.$md-sys-color-on-surface-variant-dark;
            text-decoration: none;
            font-size: 1.6rem;
            border-radius: a.$md-sys-radius-small;
            border: 1px solid a.$md-sys-color-outline-dark;
            padding: 0.8rem 1.6rem;
            width: fit-content;
            display: flex;
            align-items: center;
            gap: 0.4rem;
            transition: all 200ms ease-in-out;

            img {
                width: 1.6rem;
                height: 1.6rem;
            }

            &:hover {
                background-color: adjust-color($color: a.$md-sys-color-surface-variant-dark, $hue: 0, $saturation: 0%, $lightness: 2.5%, $alpha: 1.0);
            }
        }

        .back-button-visible {
            position: sticky;
            top: 100px;
            left: 1.6rem;
            animation: fadeIn 0.5s ease-in-out;
            opacity: 1;
        }

        .animal-photographer {
            font-size: 1.2rem;
            margin-bottom: -1.6rem;
            font-weight: 200;
            color: a.$md-sys-color-on-surface-variant-dark;

            @include a.respond-to('medium') {
                font-size: 1.6rem;
            }
        }

        h1 {
            font-size: 3.2rem;
            font-family: a.$md-sys-font-quicksand;
            font-weight: 400;
            margin-bottom: -2.6rem;

            @include a.respond-to('small') {
                font-size: 4.6rem;
            }
        }

        .animal-status {
            font-size: 1.6rem;
            font-family: a.$md-sys-font-quicksand;
            font-weight: 400;
            color: a.$md-sys-color-primary-dark;

            @include a.respond-to('small') {
                font-size: 2rem;
            }
        }

        .animal-outer-container {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;

            @include a.respond-to('medium') {
                flex-direction: row;
            }
        }

        .animal-img-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: "a a a" "b c d";
            grid-template-rows: 1fr auto;
            gap: 0.4rem;
            flex: 3;
            max-width: 586px;
            max-height: 785px;

            .animal-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.4rem;
                aspect-ratio: 1/1;
                cursor: pointer;

                &:nth-child(1) {
                    grid-area: 1 / span 3;
                }

                &:nth-child(2) {
                    grid-area: 2 / 1;
                }

                &:nth-child(3) {
                    grid-area: 2 / 2;
                }

                &:nth-child(4) {
                    grid-area: 2 / 3;
                }
            }
        }

        .animal-categories {
            display: flex;
            gap: 0.4rem;
            overflow: scroll;
            width: 100%;
            scroll-behavior: smooth;
            flex: 1;

            @include a.respond-to('medium') {
                flex-direction: column;
                overflow: visible;
                gap: 0.8rem;
            }

            &::-webkit-scrollbar {
                display: none;
            }

            .animal-category {
                display: flex;
                flex-direction: column;
                padding: 1.6rem;
                width: fit-content;
                min-width: 15rem;
                height: fit-content;
                background-color: a.$md-sys-color-tertiary-container-dark;
                border-radius: a.$md-sys-radius-defalt;
                color: a.$md-sys-color-on-tertiary-container-dark;
                gap: 0.4rem;

                .category-icon {
                    aspect-ratio: 1/1;
                    width: 2.4rem;
                    margin-bottom: 0.4rem;
                }

                h3 {
                    font-size: 1.6rem;

                    @include a.respond-to('small') {
                        font-size: 2.0rem;
                    }
                }

                p {
                    font-size: 1.4rem;

                    @include a.respond-to('small') {
                        font-size: 1.6rem;
                    }
                }
            }
        }

        .animal-info {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            height: 100%;
            color: a.$md-sys-color-on-background-dark;
            max-width: 586px;

            .animal-title {
                font-size: 3.2rem;
                font-family: a.$md-sys-font-quicksand;
                font-weight: 700;
                line-height: 1.15;
                margin-bottom: 0.8rem;

                @include a.respond-to('small') {
                    font-size: 4.0rem;
                }
            }

            .animal-paragraph {
                font-size: 1.6rem;
                font-weight: 400;

                @include a.respond-to('small') {
                    font-size: 2.4rem;
                }
            }

            .animal-callout {
                background-color: a.$md-sys-color-tertiary-dark;
                color: a.$md-sys-color-on-tertiary-dark;
                padding: 2.4rem;
                border-radius: a.$md-sys-radius-small;
                font-size: 1.6rem;

                @include a.respond-to('small') {
                    font-size: 2.4rem;
                }
            }
        }

        .animal-footer {
            display: flex;
            justify-content: space-between;
            padding-top: 0.4rem;
            border-top: 1px solid a.$md-sys-color-on-background-dark;
            max-width: 586px;

            @include a.respond-to('small') {
                font-size: 1.6rem;
            }

        }

        .comment-container {
            background-color: a.$md-sys-color-surface-variant-dark;
            padding: 2.4rem;
            max-width: 586px;
            border-radius: a.$md-sys-radius-small;
            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            .comment-title {
                font-size: 2.4rem;
                font-weight: 400;
                font-family: a.$md-sys-font-quicksand;
            }

            .no-comments {
                font-size: 1.6rem;
                font-weight: 400;
            }
            
            .comment {
                display: flex;
                flex-direction: column;
                background-color: a.$md-sys-color-on-surface-variant-dark;
                border-radius: a.$md-sys-radius-small;
                color: a.$md-sys-color-surface-variant-dark;
                padding: 1.6rem;

                .comment-header {
                    display: flex;
                    align-items: center;
                    gap: 0.8rem;
                    margin-bottom: 1.2rem;

                    .comment-avatar {
                        aspect-ratio: 1/1;
                        width: 4rem;
                        object-fit: cover;
                        object-position: center;
                    }

                    .comment-name {
                        font-size: 1.6rem;
                        font-weight: 700;
                    }
    
                    .comment-date {
                        font-size: 1.2rem;
                        font-weight: 400;
                    }
                }

                p {
                    font-size: 1.6rem;
                    font-weight: 400;
                }
            }

            .comment-form {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;

                .comment-form-container {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;

                    label {
                        display: none;
                    }

                    input, textarea {
                        font-size: 1.6rem;
                        outline: none;
                        border: none;
                        background-color: a.$md-sys-color-surface-container-high;
                        border-bottom: 1px solid a.$md-sys-color-outline-dark;
                        font-weight: 400;
                        padding: 0.8rem;
                        font-family: a.$md-sys-font-quicksand;
                        color: a.$md-sys-color-on-surface-dark;
                        transition: border-bottom 0.2s ease-in-out;
                        width: 100%;
                        border-radius: 0px;

            
                        &::placeholder {
                            color: a.$md-sys-color-on-surface-variant-dark;
                            font-weight: 400;
                        }
            
                        &:is(:focus, :hover, :focus-visible) {
                            background-color: adjust-color($color: a.$md-sys-color-surface-container-high, $hue: 0, $saturation: 0%, $lightness: 2.5%, $alpha: 1.0);
                        }
                    }

                    textarea {
                        height: 12rem;
                        min-width: 100%;
                    }

                    .valid {
                        border-bottom: 2px solid a.$md-sys-color-primary-dark;
                    }
            
                    .invalid {
                        border-bottom: 2px solid a.$md-sys-color-error-dark;
                    }

                    .comment-form-submit {
                        background-color: a.$md-sys-color-primary-dark;
                        color: a.$md-sys-color-on-primary-dark;
                        padding: 1.2rem 1.6rem;
                        border-radius: a.$md-sys-radius-defalt;
                        cursor: pointer;
                        outline: none;
                        border: none;
                        font-size: 1.6rem;
                        width: 15rem;
                        align-self: flex-end;
                        transition: background-color 200ms ease-in-out;

                        &:disabled {
                            background-color: a.$md-sys-color-primary-container-dark;
                            cursor: not-allowed;
                        }
                    }
                }

                // finish styling
            }
        }
    }
}

.fun-fact {
    display: block;
    font-weight: 400;
    font-size: 1.6rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: a.$md-sys-color-tertiary-container-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.6rem;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .overlay-blur {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.4);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }

    .overlay-image {
        width: 100%;
        object-fit: cover;
        object-position: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        aspect-ratio: 4/3;

        @include a.respond-to('medium') {
            width: 80%;
        }

        @include a.respond-to('large') {
            width: 60%;
        }
    }

    .overlay-close {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 1.2rem;
        cursor: pointer;
        background-color: a.$md-sys-color-on-tertiary-container-dark;
        font-size: 2.4rem;
        outline: none;
        border: none;
        border-radius: a.$md-sys-radius-defalt;
        transition: border-radius 200ms ease;

        &:is(:hover) {
            background-color: adjust-color($color: a.$md-sys-color-on-tertiary-container-dark, $hue: 0, $saturation: 0%, $lightness: 5%, $alpha: 1.0);
            border-radius: a.$md-sys-radius-small;
            box-shadow: a.$md-sys-shadow-0;
        }

        img {
            width: 2.4rem;
            height: 2.4rem;
        }
    }

    .overlay-buttons-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 3.2rem;
        padding-inline: 1.6rem;

        button {
            background-color: a.$md-sys-color-on-tertiary-container-dark;
            color: a.$md-sys-color-tertiary-dark;
            padding: 1.2rem;
            border-radius: a.$md-sys-radius-defalt;
            cursor: pointer;
            outline: none;
            border: none;
            transition: background-color 200ms ease-in-out;

            img {
                width: 2.4rem;
                height: 2.4rem;
            }
        }

        .overlay-prev {
            transform: rotate(180deg);
        }

        .overlay-amount {
            font-size: 1.6rem;
        }
    }
}