@use "../abstracts/" as a;

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    margin-inline: a.$md-sys-margin-default;
    min-height: calc(100vh - 88px);

    @include a.respond-to('small') {
        margin-inline: a.$md-sys-margin-small;
    }

    @include a.respond-to('medium') {
        margin-inline: a.$md-sys-margin-medium;
        flex-direction: row;
        gap: 3.6rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }

    @include a.respond-to('large') {
        margin-inline: a.$md-sys-margin-large;
    }

    @include a.respond-to('x-large') {
        margin-inline: a.$md-sys-margin-x-large;
    }

    .contact-success {
        position: fixed;
        width: 100lvw;
        height: 100lvh;
        inset: 0;
        z-index: 100;
        display: grid;
        place-items: center;
        background-color: rgba($color: #000000, $alpha: 0.4);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);


        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: a.$md-sys-color-tertiary-container-dark;
            width: fit-content;
            height: fit-content;
            border-radius: a.$md-sys-radius-defalt;
            color: a.$md-sys-color-on-tertiary-container-dark;
            gap: a.$md-sys-gap-small;
            padding: a.$md-sys-padding-large;
            z-index: 101;
            margin-inline: 1.6rem;

            h2 {
                font-size: a.$md-sys-font-size-large;
                font-family: a.$md-sys-font-quicksand;
            }

            p {
                font-size: a.$md-sys-font-size-small;
            }
        }
    }

    .show-success {
        display: fixed;
    }
}

.contact-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 624px;

    .contact-title {
        font-size: 3.2rem;
        font-family: a.$md-sys-font-quicksand;
        font-weight: 400;
        line-height: 1.15;
        margin-block: 2.4rem;
        width: fit-content;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        max-width: 824px;

        label {
            display: none;
        }

        input, textarea {
            font-size: 2rem;
            outline: none;
            border: none;
            background-color: a.$md-sys-color-surface-container-high;
            border-bottom: 1px solid a.$md-sys-color-outline-dark;
            height: 6rem;
            font-weight: 400;
            padding: 1.6rem;
            font-family: a.$md-sys-font-quicksand;
            color: a.$md-sys-color-on-surface-dark;
            transition: border-bottom 0.2s ease-in-out;
            border-radius: 0px;

            &::placeholder {
                color: a.$md-sys-color-on-surface-variant-dark;
                font-weight: 400;
            }

            &:is(:focus, :hover, :focus-visible) {
                background-color: adjust-color($color: a.$md-sys-color-surface-container-high, $hue: 0, $saturation: 0%, $lightness: 2.5%, $alpha: 1.0);
            }

            // style autofill
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                transition: background-color 5000s ease-in-out 0s;
                -webkit-text-fill-color: a.$md-sys-color-on-surface-dark;
            }
        }

        .valid {
            border-bottom: 1px solid a.$md-sys-color-primary-dark;
        }

        .invalid {
            border-bottom: 1px solid a.$md-sys-color-error-dark;
        }

        textarea {
            height: 12rem;
        }

        .contact-button {
            background-color: a.$md-sys-color-primary-dark;
            color: a.$md-sys-color-on-primary-dark;
            padding: 1.2rem 1.6rem;
            border-radius: a.$md-sys-radius-defalt;
            cursor: pointer;
            outline: none;
            border: none;
            font-size: 2rem;
            width: 15rem;
            align-self: flex-end;
            transition: background-color 200ms ease-in-out;

            &:disabled {
                background-color: a.$md-sys-color-primary-container-dark;
                cursor: not-allowed;
            }
        }
    }
}

.thank-you {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    background-color: a.$md-sys-color-secondary-dark;
    color: a.$md-sys-color-on-secondary-dark;
    padding: 2.4rem;
    border-radius: a.$md-sys-radius-defalt;
    flex: 1;
    height: fit-content;
    max-width: 524px;
    min-width: 300px;

    h2 {
        font-size: 3.2rem;
        font-family: a.$md-sys-font-quicksand;
        font-weight: 400;
    }

    p {
        font-size: 2rem;
        font-weight: 400;

        &:last-child {
            font-style: italic;
        }
    }
}