@use "../abstracts/" as a;

.posts-container {
    display: flex;
    gap: 1.6rem;
    margin-inline: a.$md-sys-margin-default;
    flex-wrap: wrap;
    justify-content: center;

    @include a.respond-to('small') {
        margin-inline: a.$md-sys-margin-small;
    }

    @include a.respond-to('medium') {
        margin-inline: a.$md-sys-margin-medium;
        justify-content: initial;
        margin-top: 3.6rem;
    }

    @include a.respond-to('large') {
        margin-inline: a.$md-sys-margin-large;
    }

    @include a.respond-to('x-large') {
        margin-inline: a.$md-sys-margin-x-large;
    }

    .carousel {
        background-color: a.$md-sys-color-tertiary-container-dark;
        border-radius: a.$md-sys-radius-defalt;
        list-style: none;
        flex: 1 1 320px;
        max-width: 432px;
        transition: background-color 200ms ease;

        &:hover {
            background-color: adjust-color($color: a.$md-sys-color-tertiary-container-dark, $hue: 0, $saturation: 0%, $lightness: 2.5%, $alpha: 1.0);
        }
        
        a {
            text-decoration: none;
        }
    }
}

.options {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    background-color: a.$md-sys-color-background-dark;
    align-items: center;
    margin-bottom: 2.4rem;

    @include a.respond-to('small') {
        padding-inline: a.$md-sys-margin-small;
    }

    @include a.respond-to('medium') {
        padding-inline: a.$md-sys-margin-medium;
    }

    @include a.respond-to('large') {
        padding-inline: a.$md-sys-margin-large;
    }

    @include a.respond-to('x-large') {
        padding-inline: a.$md-sys-margin-x-large;
    }

    #search-input {
        border: none;
        outline: none;
        border-radius: a.$md-sys-radius-small;
        height: 4.5rem;
        width: 20rem;
        background-color: a.$md-sys-color-on-background-dark;
        display: flex;
        font-size: a.$md-sys-font-size-small;
        color: a.$md-sys-color-surface-dark;
        box-shadow: a.$md-sys-shadow-0;
        transition: width 200ms ease;
        padding: 0 1.6rem;

        &::placeholder {
            color: a.$md-sys-color-surface-variant-dark;
            font-size: a.$md-sys-font-size-small;
        }

        &:hover {
            box-shadow: a.$md-sys-shadow-1;
        }

        &:focus {
            box-shadow: a.$md-sys-shadow-1;
            width: calc(20rem + 1rem);
        }

        &:focus::placeholder {
            color: transparent;
        }

        @include a.respond-to('medium') {
            width: 30rem;
            height: 5rem;
            font-size: a.$md-sys-font-size-default;

            &::placeholder {
                font-size: a.$md-sys-font-size-default;
            }

            &:focus {
                width: calc(30rem + 3.5rem);
            }
        }
    }

    .options-button {
        background-color: a.$md-sys-color-surface-variant-dark;
        color: a.$md-sys-color-on-surface-variant-dark;
        text-decoration: none;
        font-size: 1.6rem;
        border-radius: 0.8rem;
        border: 1px solid a.$md-sys-color-outline-dark;
        padding: 0.6rem 1.2rem;
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 0.8rem;
        height: 4.5rem;
        transition: background-color 200ms ease;

        &:is(:hover) {
            background-color: adjust-color($color: a.$md-sys-color-surface-variant-dark, $hue: 0, $saturation: 0%, $lightness: 2.5%, $alpha: 1.0);
            cursor: pointer;
        }

        @include a.respond-to('medium') {
            height: 5rem;
            font-size: a.$md-sys-font-size-default;
        }
    }
}

.load-more-btn {
    background-color: a.$md-sys-color-surface-variant-dark;
    color: a.$md-sys-color-on-surface-variant-dark;
    text-decoration: none;
    font-size: 1.6rem;
    border-radius: 0.8rem;
    border: 1px solid a.$md-sys-color-outline-dark;
    padding: 0.6rem 1.2rem;
    width: fit-content;
    display: flex;
    align-items: center;
    margin: a.$md-sys-margin-default;
    margin-inline: auto;
    transition: background-color 200ms ease;
    height: 4.5rem;

    &:is(:hover) {
        background-color: adjust-color($color: a.$md-sys-color-surface-variant-dark, $hue: 0, $saturation: 0%, $lightness: 2.5%, $alpha: 1.0);
    }

    @include a.respond-to('medium') {
        font-size: a.$md-sys-font-size-default;
        height: 5rem;
    }
}

.loader {
    color: #fff;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
    margin: 0 auto;
  }
  
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 
      2em -2em 0 0em, 3em 0 0 -1em, 
      2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 
      2em -2em 0 0, 3em 0 0 0.2em, 
      2em 2em 0 0, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
       -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
       -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
       -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
    