@use "../abstracts/" as a;

.navbar-container {
    display: flex;
    background-color: a.$md-sys-color-background-dark;
    padding: a.$md-sys-margin-default;
    position: sticky;
    top: 0;
    z-index: 100;

    @include a.respond-to('small') {
        padding-inline: a.$md-sys-margin-small;
    }

    @include a.respond-to('medium') {
        padding-inline: a.$md-sys-margin-medium;
    }

    @include a.respond-to('large') {
        padding-inline: a.$md-sys-margin-large;
    }

    @include a.respond-to('x-large') {
        padding-inline: a.$md-sys-margin-x-large;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        #navbar-menu {
            z-index: 99;
            transition: transform 600ms ease-out;
        }

        #navbar-logo {
            z-index: 99;
        }

        .rotate {
            transform: rotate(-90deg);
        }

        .navbar-links-mobile {
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            list-style: none;
            inset: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 10rem 1.6rem;
            z-index: 98;
            background-color: a.$md-sys-color-background-dark;
            transition: transform 600ms ease;

            &[isopen=false] {
                transform: translateY(-100%);
            }
            
            &[isopen=true] {
                transform: translateY(0%);
            }
            
            .link {
                color: a.$md-sys-color-on-background-dark;
                text-decoration: none;
                font-family: a.$md-sys-font-quicksand;
                font-weight: 400;
                font-size: a.$md-sys-font-size-x-large;
                opacity: 0;
                transition: opacity 400ms ease-in-out;
            }

            .link-animation {
                opacity: 1;
            }
        }

        .navbar-links-desktop {
            display: flex;
            list-style: none;
            gap: a.$md-sys-gap-default;

            li > a {
                color: a.$md-sys-color-on-background-dark;
                font-family: a.$md-sys-font-quicksand;
                font-size: a.$md-sys-font-size-large;
                text-decoration: none;
                transition: color 200ms ease-in-out;

                &:hover {
                    color: a.$md-sys-color-primary-dark;
                }
            }

            #blog-button {
                background-color: a.$md-sys-color-on-background-dark;
                color: a.$md-sys-color-background-dark;
                padding: 0.8rem 1.6rem;
                border-radius: a.$md-sys-radius-small;
                font-weight: 700;
                transition: all 200ms ease-in-out;

                &:hover {
                    background-color: a.$md-sys-color-primary-dark;
                    color: a.$md-sys-color-on-primary-dark;
                }
            }
        }
    }
}