@use "../abstracts/" as a;

.navbar-container {
    display: flex;
    background-color: a.$md-sys-color-background-dark;
    padding: a.$md-sys-margin-default;
    position: sticky;
    top: 0;
    z-index: 1000;


    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        #navbar-menu {
            z-index: 99;
        }

        .rotate {
            transform: rotate(-90deg);
            transition: 200ms ease-out;

            svg > path {
                transition: 200ms ease;
                fill: a.$md-sys-color-primary-dark;
            }
        }

        #navbar-logo {
            z-index: 99;
        }

        .navbar-links {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100lvh;
            margin: 0;
            padding: 0;
            z-index: 98;
            background-color: a.$md-sys-color-background-dark;
            animation: navbar-open 200ms ease-out;
            
            a {
                color: a.$md-sys-color-on-background-dark;
                text-decoration: none;
                font-family: a.$md-sys-font-quicksand;
                font-weight: 400;
                font-size: 3.6rem;
                opacity: 1;
                animation: fade-in 300ms ease-in;
            }
        }

        .shown {
            display: flex;
        }
    }
}