// import local fonts
@font-face {
    font-family: 'Quicksand';
    src: url('/public/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik';
    src: url('/public/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}

// fonts
$md-sys-font-quicksand: "Quicksand";
$md-sys-font-rubik: "Rubik";

// sizes
$md-sys-font-size-small: 1.6rem;
$md-sys-font-size-default: 2rem;
$md-sys-font-size-large: 2.4rem;
$md-sys-font-size-x-large: 3.6rem;
$md-sys-font-size-xx-large: 3.6rem;