// colors
$md-sys-color-primary-dark: #e8c41c;
$md-sys-color-on-primary-dark: #3a3000;
$md-sys-color-primary-container-dark: #544600;
$md-sys-color-on-primary-container-dark: #ffe16f;
$md-sys-color-primary-fixed: #FFE170;
$md-sys-color-on-primary-fixed: #221B00;
$md-sys-color-secondary-dark: #d2c6a1;
$md-sys-color-on-secondary-dark: #373016;
$md-sys-color-secondary-container-dark: #4e462a;
$md-sys-color-on-secondary-container-dark: #efe2bc;
$md-sys-color-tertiary-dark: #aad0b2;
$md-sys-color-on-tertiary-dark: #163722;
$md-sys-color-tertiary-container-dark: #2d4e37;
$md-sys-color-on-tertiary-container-dark: #c6eccd;
$md-sys-color-error-dark: #ffb4ab;
$md-sys-color-error-container-dark: #93000a;
$md-sys-color-on-error-dark: #690005;
$md-sys-color-on-error-container-dark: #ffdad6;
$md-sys-color-background-dark: #1d1b16;
$md-sys-color-on-background-dark: #e8e2d9;
$md-sys-color-surface-dark: #1d1b16;
$md-sys-color-on-surface-dark: #e8e2d9;
$md-sys-color-surface-variant-dark: #4b4639;
$md-sys-color-on-surface-variant-dark: #cdc6b4;
$md-sys-color-surface-container-high: #2C2A24;
$md-sys-color-outline-dark: #979080;
$md-sys-color-inverse-on-surface-dark: #1d1b16;
$md-sys-color-inverse-surface-dark: #e8e2d9;
$md-sys-color-inverse-primary-dark: #705d00;
$md-sys-color-shadow-dark: #000000;
$md-sys-color-surface-tint-dark: #e8c41c;
$md-sys-color-outline-variant-dark: #4b4639;
$md-sys-color-scrim-dark: #000000;

// margins
$md-sys-margin-default: 1.6rem;
$md-sys-margin-small: 3.6rem;
$md-sys-margin-medium: 5rem;
$md-sys-margin-large: 20rem;
$md-sys-margin-x-large: 30rem;

// padding
$md-sys-padding-small: 1.6rem;
$md-sys-padding-default: 2.4rem;
$md-sys-padding-large: 3.6rem;

// border-radius
$md-sys-radius-defalt: 3rem;
$md-sys-radius-small: 2rem;
$md-sys-radius-big: 4rem;

// box shadow
$md-sys-shadow-0: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
$md-sys-shadow-1: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);

// width
$md-sys-width-default: 1140px;

// gap
$md-sys-gap-small: 1.6rem;
$md-sys-gap-default: 2.4rem;
$md-sys-gap-large: 3.6rem;